streamlit>=1.30.0
pandas
numpy
matplotlib
tqdm

langchain
langchain-community
langchain-core
langchain-google-genai

google-generativeai

supabase

flashrank

unstructured
pdf2image
pdfminer.six

rouge-score
bert-score