streamlit
pandas
numpy
plotly
altair
umap-learn
python-dotenv
bcrypt
google-generativeai
supabase==1.0.3
langchain-core
langchain-community
langchain-google-genai
unstructured[local-inference,pdf]
flashrank 
pydantic
importlib-metadata<5.0.0
openpyxl 
rouge-score 
bert-score