streamlit
pandas
numpy
plotly
altair
umap-learn
python-dotenv
bcrypt
google-generativeai
supabase
langchain-core
langchain-community
langchain-google-genai
unstructured[local-inference,pdf]
flashrank 
pydantic
poppler
importlib-metadata<5.0.0